@page "/categories"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using _72220577_FEUTS.Services
@inject ccService ccService
@using _72220577_FEUTS.Model

<h3>Category List</h3>
<button class="btn btn-new btn-primary" @onclick="@(() => CreateCategory())">New Category</button>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>CRUD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.categoryId</td>
                <td>@category.name</td>
                <td>@category.description</td>
                <td>
                    <button class="btn btn-edit btn-primary" @onclick="@(() => EditCategory(category.categoryId))">Edit</button>
                    <button class="btn btn-delete btn-primary" @onclick="@(() => DeleteCategory(category.categoryId))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<category> categories = new();

    private void CreateCategory()
    {
        NavigationManager.NavigateTo("/categories/new");
    }

    protected override async Task OnInitializedAsync() =>
        // Use ccService to fetch categories
        categories = await ccService.GetCategoriesAsync();

    private void EditCategory(int categoryId)
    {
        NavigationManager.NavigateTo($"/categories/{categoryId}");
    }

    private async Task DeleteCategory(int categoryId)
    {
        await ccService.DeleteCategoryAsync(categoryId);

        categories = await ccService.GetCategoriesAsync();

    }
}
